*.vsidx
.vs/BrstWorks.github.io/CopilotIndices/18.0.923.20550/CodeChunks.db
.vs/BrstWorks.github.io/CopilotIndices/18.0.923.20550/CodeChunks.db-shm
.vs/BrstWorks.github.io/CopilotIndices/18.0.923.20550/CodeChunks.db-wal
.vs/BrstWorks.github.io/CopilotIndices/18.0.923.20550/SemanticSymbols.db
.vs/BrstWorks.github.io/CopilotIndices/18.0.923.20550/SemanticSymbols.db-shm
.vs/BrstWorks.github.io/CopilotIndices/18.0.923.20550/SemanticSymbols.db-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/BrstWorks.github.io.slnx/copilot-chat/4af1b9c8/sessions/746c19cc-0d50-4b9f-9ba0-4df064ff45cc
.vs/BrstWorks.github.io.slnx/v18/.wsuo
.vs/BrstWorks.github.io.slnx/v18/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/BrstWorks.github.io.slnx/v18/DocumentLayout.backup.json
